h1{
  color: blue;
  text-decoration: underline;
  background-color: gold;
}

h2{
  color: purple;
  font-weight: bold;
  font-size: 25px;
  border: 5px solid orange;

}

section{
  color: white;
  width: 50%;
  height: 200px;
  background: gray;
  border: 5px solid black;
}

p{

}

footer{
  background: black;
  font-size: 20px;
  color: white;
  font-family: Roboto;
  border: 5px solid #90EE90;
}
